body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Sample Page Sections and code highlighting using highlight.js */
.sample {
    margin: 0 0 10px;
    padding: 10px 0 30px;
    border-bottom: 1px solid silver;
}

.no-border {
    border: none;
}

.sample pre {
    background-color: transparent !important;
    border: none;
    padding: 0;
    margin: 0;
}

code.hljs {
    padding: 12px 15px !important;
}

code span{
    font-size:16px;
}

hr {
    margin: 12px 0;
}

.align-center{
    text-align:center;
}

